svg.theme-dark {
    --background: rgba(0, 0, 0, 1);

    --background-settings: rgba(0, 0, 0, 0.75);
    --settings-label: rgba(255, 255, 255, 1);

    --text-color: rgba(255, 255, 255, 1);

    --performer: rgba(175, 79, 55, 1);
    --performer-selected-primary: rgb(235, 0, 0);
    --performer-selected-secondary: rgb(235, 0, 0);
    --performer-selected-tertiary: rgb(227, 172, 172);
    --performer-deselected: rgb(128, 128, 128);

    --link-selected-primary: red;
    --link-deselected: rgb(136, 136, 136, 0.1);

    --link-revue: rgba(61, 90, 128, 1);
    --link-norevue: rgba(199, 199, 199, 1);

    --club: rgba(61, 90, 128, 1);
    --club-selected-primary: rgb(217, 0, 0);
    --club-selected-secondary: rgb(218, 162, 162);
    --club-selected-tertiary: rgb(218, 162, 162);
    --club-deselected: rgb(107, 107, 107);

    --city: rgb(124, 124, 124);
    --city-selected-primary: rgb(200, 0, 0);
    --city-selected-secondary: rgb(213, 169, 169);
    --city-selected-tertiary: rgb(213, 169, 169);
    --city-deselected: rgb(87, 87, 87);

    --node-stroke: rgba(255, 255, 255, 0.5);
}

.theme-light {
    --background: rgba(0, 0, 0, 0.009);

    --background-settings: rgba(255, 255, 255, 0.75);
    --settings-label: rgba(0, 0, 0, 1);

    --text-color: rgba(0, 0, 0, 1);

    --performer: rgba(238, 108, 77, 1);
    --performer-selected-primary: #ff0000;
    --performer-selected-secondary: #ffb0b0;
    --performer-selected-tertiary: #ffdfdf;
    --performer-deselected: rgb(239, 239, 239);

    --link-selected-primary: #ff0000;
    --link-selected-secondary: #ffb0b0;
    --link-selected-tertiary: #ffdfdf;
    --link-deselected: rgba(0, 0, 0, 0.09);

    --link-revue: rgba(61, 90, 128, 0.5);
    --link-norevue: rgba(0, 0, 0, 0.15);

    --club: rgba(61, 90, 128, 1);
    --club-selected-primary: #ff0000;
    --club-selected-secondary: #ffb0b0;
    --club-selected-tertiary: #ffdfdf;
    --club-deselected: rgba(245, 245, 245, 1);

    --city: rgba(238, 238, 238, 1);
    --city-selected-primary: #ff0000;
    --city-selected-secondary: #ffb0b0;
    --city-selected-tertiary: #ffdfdf;
    --city-deselected: rgba(241, 241, 241, 1);

    --node-stroke: rgba(255, 255, 255, 1);
}

#settings {
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: var(--background-settings);
    color: var(--text-color);
    max-width: 300px;
    overflow: hidden;
}

#settings > .card-header {
    width: 300px;
}

#settingsToggle,
#infoToggle {
    background: transparent
        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path fill-rule='evenodd' d='M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z'/><path fill-rule='evenodd' d='M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/></svg>")
        center/1em auto no-repeat !important;
}

#settingsToggle.toggled,
#infoToggle.toggled {
    background: transparent
        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path fill-rule='evenodd' d='M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/><path fill-rule='evenodd' d='M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")
        center/1em auto no-repeat !important;
}

#settings button {
    background-color: var(--background-settings);
    color: var(--text-color);
}

#infoContainer {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: var(--background-settings);
    min-width: 250px;
    max-width: 250px;
    overflow: hidden;
}

#infoContainer > p,
#nodeEdgeInfo > p {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

#nodeEdgeInfo {
    position: absolute;
    bottom: 1em;
    left: 1em;
    background-color: var(--background-settings);
    max-height: 30%;
    max-width: 400px;
    overflow: hidden;
    overflow-y: scroll;
}

body {
    background: var(--background);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

svg#main {
    background: var(--background);
    z-index: -100;
}

.label {
    fill: var(--text-color);
}

.label.selected {
    font-weight: bold;
}

.link.revue {
    stroke: var(--link-revue);
    stroke-linecap: round;
}

.link.no-revue {
    stroke: var(--link-norevue);
    stroke-linecap: round;
}

.link.selected {
    stroke: var(--link-selected-primary) !important;
}

.link.selected-secondary {
    stroke: var(--link-selected-secondary) !important;
}

.link.selected-tertiary {
    stroke: var(--link-selected-tertiary) !important;
}

.link.deselected {
    stroke: var(--link-deselected) !important;
}

.link {
    cursor: pointer;
}

.node {
    stroke-width: 0.1;
    stroke: var(--node-stroke);
    cursor: move;
    /* pointer-events: none; */
}

.node.city {
    fill: var(--city) !important;
}

.node.city.selected {
    fill: var(--city-selected-primary) !important;
    stroke-width: 10px;
    stroke: rgba(255, 0, 0, 0.3);
}

.node.city.selected-secondary {
    fill: var(--city-selected-secondary) !important;
}

.node.city.deselected {
    fill: var(--city-deselected) !important;
}

.node.club {
    fill: var(--club) !important;
}

.node.club.selected {
    fill: var(--club-selected-primary) !important;
    stroke-width: 10px;
    stroke: rgba(255, 0, 0, 0.3);
}
.node.club.selected-secondary {
    fill: var(--club-selected-secondary) !important;
}

.node.club.deselected {
    fill: var(--club-deselected) !important;
}

.node.performer {
    fill: var(--performer) !important;
}

.node.performer.selected {
    fill: var(--performer-selected-primary) !important;
    stroke-width: 10px;
    stroke: rgba(255, 0, 0, 0.3);
}

.node.performer.selected-secondary {
    fill: var(--performer-selected-secondary) !important;
}

.node.performer.deselected {
    fill: var(--performer-deselected) !important;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
svg#main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#settingsContainer {
    transition: display 0s, opacity 0.5s linear;
}

#wrapToasters {
    position: absolute;
    left: calc(50% - 175px);
    top: 0;
    width: 400px;
    padding-top: 1em;
}

.toast {
    max-width: 300px;
    font-size: 0.675rem !important;
}

.node.club.selected-tertiary {
    fill: var(--club-selected-tertiary) !important;
}
.node.city.selected-tertiary {
    fill: var(--city-selected-tertiary) !important;
}
.node.performer.selected-tertiary {
    fill: var(--performer-selected-tertiary) !important;
}

/* Bar graph */

.bar {
    fill: steelblue;
}

#previewData {
    position: absolute;
    bottom: 1em;
    right: 1em;
    background-color: var(--background-settings);
    color: var(--text-color);
    max-width: 500px;
    overflow: hidden;
}

[data-toggle]:not(.toggled):hover {
    cursor: pointer;
}

[data-toggle].toggled:hover {
    cursor: pointer;
}
