.theme-dark {
    --background: rgba(0, 0, 0, 1);

    --background-settings: rgba(0, 0, 0, 0.75);
    --settings-label: rgba(255, 255, 255, 1);

    --text-color: rgba(255, 255, 255, 1);

    --performer: rgba(175, 79, 55, 1);
    --performer-selected: rgb(235, 0, 0);
    --performer-deselected: rgb(128, 128, 128);

    --link-selected: red;
    --link-deselected: rgb(136, 136, 136, 0.1);

    --link-revue: rgba(61, 90, 128, 1);
    --link-norevue: rgba(199, 199, 199, 1);

    --club: rgba(61, 90, 128, 1);
    --club-selected: rgb(217, 0, 0);
    --club-deselected: rgb(107, 107, 107);

    --city: rgb(124, 124, 124);
    --city-selected: rgb(200, 0, 0);
    --city-deselected: rgb(87, 87, 87);

    --node-stroke: rgba(255, 255, 255, 0.5);
}

.theme-light {
    --background: rgba(0, 0, 0, 0.009);

    --background-settings: rgba(255, 255, 255, 0.75);
    --settings-label: rgba(0, 0, 0, 1);

    --text-color: rgba(0, 0, 0, 1);

    --performer: rgba(238, 108, 77, 1);
    --performer-selected: rgb(235, 0, 0);
    --performer-deselected: rgb(225, 225, 225);

    --link-selected: red;
    --link-deselected: rgba(0, 0, 0, 0.25);

    --link-revue: rgba(61, 90, 128, 0.5);
    --link-norevue: rgba(0, 0, 0, 0.15);

    --club: rgba(61, 90, 128, 1);
    --club-selected: rgba(217, 0, 0, 1);
    --club-deselected: rgba(215, 215, 215, 1);

    --city: rgba(238, 238, 238, 1);
    --city-selected: rgba(200, 0, 0, 1);
    --city-deselected: rgba(205, 205, 205, 1);

    --node-stroke: rgba(255, 255, 255, 1);
}

#settings {
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: var(--background-settings);
    color: var(--text-color);
}

#settings button {
    background-color: var(--background-settings);
    color: var(--text-color);
}

#infoContainer {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: var(--background-settings);
}

#infoContainer > p,
#nodeEdgeInfo > p {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

#nodeEdgeInfo {
    position: absolute;
    bottom: 1em;
    left: 1em;
    background-color: var(--background-settings);
}

body {
    background: var(--background);
}

svg {
    background: var(--background);
}

.label {
    fill: var(--text-color);
}

.label.selected {
    font-weight: bold;
}

.link.revue {
    stroke: var(--link-revue);
    stroke-linecap: round;
}

.link.no-revue {
    stroke: var(--link-norevue);
    stroke-linecap: round;
}

.link.selected {
    stroke: var(--link-selected) !important;
}

.link.deselected {
    stroke: var(--link-deselected) !important;
}

.link {
    cursor: pointer;
}

.node {
    stroke-width: 0.1;
    stroke: var(--node-stroke);
    cursor: move;
    /* pointer-events: none; */
}

.node.city {
    fill: var(--city) !important;
}

.node.city.selected {
    fill: var(--city-selected) !important;
}

.node.city.deselected {
    fill: var(--city-deselected) !important;
}

.node.club {
    fill: var(--club) !important;
}

.node.club.selected {
    fill: var(--club-selected) !important;
}

.node.club.deselected {
    fill: var(--club-deselected) !important;
}

.node.performer {
    fill: var(--performer) !important;
}

.node.performer.selected {
    fill: var(--performer-selected) !important;
}

.node.performer.deselected {
    fill: var(--performer-deselected) !important;
}

.node.fixed {
    fill: #f00;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
svg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#settingsHide {
    cursor: pointer;
}

#settingsContainer {
    transition: display 0s, opacity 0.5s linear;
}
